* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(30, 30, 30, 0.99);
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: rgba(40, 40, 40, 0.9);
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000; /* Убедитесь, что top-bar находится над другими элементами */
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.nickname {
    font-size: 1.5em;
    color: #ffffff;
    margin-left: 10px; /* Добавляем отступ слева, чтобы текст не прилипал к логотипу */
}

.container {
    background-color: rgba(40, 40, 40, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: 100px auto 20px;
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
}

.btn-container {
    margin-bottom: 20px;
}

.btn {
    background-color: #3b3b3b;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #5a5a5a;
}

.feed {
    padding: 20px;
    background-color: rgba(60, 60, 60, 0.8);
    border-radius: 5px;
    min-height: 600px;
    height: auto;
    max-height: 800px;
    overflow-y: auto;
}

p {
    font-size: 1.1em;
}

#content {
    transition: opacity 0.5s ease;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(40, 40, 40, 0.9);
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
}

.bottom-bar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    display: inline-block; /* Добавляем display для выравнивания */
}

.bottom-bar a:hover {
    color: #ff9800;
}

